body {
    margin: 0;
    padding: 0;
    font-family: 'Saira', sans-serif;
    background-color: #038C8C;
}

.container {
    width: 100%;
    height: 100vh;
}

#home-bg {
    background: url(../assets/images/homepage_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    width: 100%;
    height: 70px;
    background: #A3D3D9;
}

#homepage-nav {
    background-color: rgba(163, 211, 217, 0.8)
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    float: left;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    float: right;
}

.menu-btn {
    margin-left: 40px;
    border: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    background-color: #04BFBF;
    color: white;
    border-radius: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #252526;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 70px;
}

.sidenav a {
    margin-left: 20px;
    margin-bottom: 16px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #026873;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 36px;
}

.social-icons {
    display: flex;
    align-items: flex-start;
    width: 80%;
    filter: invert(1);
}

.social-icons img {
    width: 25px;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}

.footer {
    margin-left: 20px;
    width: 100%;
    color: white;
    font-weight: 600;
}

.home-card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardText {
    padding: 24px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    text-transform: lowercase;
}

.learn-btn {
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    background-color: #04BFBF;

}

.cardText span:before {
    content: "";
    animation: animate infinite 3s;
    border-bottom: 10px double white;
}

@keyframes animate {
    0% {
        content: 'Graphic';
    }

    33% {
        content: 'UX/UI'
    }

    66% {
        content: 'Web'
    }

    100% {
        content: 'Graphic'
    }

}

.content {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}

#content-lt {
    margin-top: 20px;
    margin-left: 10%;
    width: 40%;
    height: auto;
    float: left;
    text-align: center;
}

.about-img {
    width: 80%;
}

#content-rt {
    margin-top: 20px;
    margin-right: 10%;
    width: 40%;
    float: right;
    height: auto;
}

#content-rt h2 {
    text-align: center;
    font-weight: 900;
}

a {
    color: black;
    text-decoration: underline;
}

#content-lt a {
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
}

.content a:visited {
    text-decoration: none;
}

p {
    font-size: 18px;
}

#content-skills {
    width: 80%;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    
}

#content-skills h2 {
    text-align: center;
}

#content-skills ul {
    list-style-type:circle;
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
}
.portfolio-section{
    max-width:960px;
	margin:0 auto;
	padding:6% 2%;
}
.portfolio-section h2, .portfolio-section h3{
    text-align: center;
}
.portfolio-grid{
    margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.portfolio-grid:after{
    clear: both;
}
.portfolio-grid:after, .portfolio-box:before {
    content: '';
    display: table;
}

.portfolio-grid li {
    width: 300px;
	height: 300px;
	display: inline-block;
	margin: 20px;
}
.portfolio-box{
    width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 20px;
    box-shadow: 5px 5px #a3d3d9;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.portfolio-box:hover{
    transform: scale(1.05);
}

.portfolio-img1{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ), url(../assets/images/portfolio/cover-nowtrips.png);
    background-size: cover;
}
.portfolio-img2{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ), url(../assets/images/portfolio/cover-tradesies.png);
    background-size: cover;
}
.portfolio-img3{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ), url(../assets/images/portfolio/cover-doe.png);
    background-size: cover;
}
.portfolio-img4{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.50), 
      rgba(0, 0, 0, 0.10)
    ), url(../assets/images/portfolio/cover-panthera.png);
    background-size: cover;
}

#portfolio-info{
    position: absolute;
	width: 100%;
	height: 100%;
}
#portfolio-info h3{
    font-family: 'Saira', serif;
    font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height:1.5;
}
#portfolio-info p{
    font-family: 'Saira', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height:3;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #content-lt, #content-rt{
        float: left;
        width: 80%;
    }
    #content-rt{
        margin-left: 10%;
        margin-right: 10%;
    }
    #content-skills ul{
        columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    }
    h1{
        font-size: 36px;
    }
    h2{
       font-size: 28px; 
    }
}
